<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      
      .menu-content {
        width: 300px !important;
      }

      .api-info {
        margin: 20px !important;
      }

      .api-info h1 {
        color: #333333;
      }

      .api-info p {
        color: #666666;
      }
    </style>
    {{{redocHead}}}
  </head>
  <body>
    {{{redocHTML}}}
  </body>
</html> 